// Imports
@import "../../variables";

div.profile-container
{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    height: calc(100vh - 64px); 
    display: flex;
    align-items: center;
    justify-content: center;

    main
    {
        width: 100%;
        padding: 28px;
        background: $backgroundColor;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 500ms;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        form
        {
            max-width: 524px;
            min-width: 524px;
            padding: 12px;
        }

        section
        {
            margin-right: 40px;

            h2
            {
                margin-bottom: 20px;
            }

            p, ol
            {
                font-size: 18px;
                margin-bottom: 20px;
            }

            ol{padding-left: 18px}

            img
            {
                width: 320px;
            }
        }
    }
}

// Media Queries
@media screen and (max-width: 1020px)
{
    div.profile-container > main
    {
        p, ol{
           font-size: 16px !important;
        }
    }
}

@media screen and (max-width: 975px)
{
    div.profile-container
    {
        height: auto;
        
        main
        {
            width: auto !important;
            flex-direction: column;
            align-items: initial !important;

            section
            {
                max-width: 450px !important;
                margin-right: 0 !important;
                padding: 0 12px;

                p, ol{
                    display: none;
                }

                h1:not(.logo)
                {
                    margin-bottom: 0 !important;
                }

                h2
                {
                    margin-bottom: auto !important;
                }
            }
        }
    }
}