// Imports
@import "../../variables";

div.profile-container
{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    height: calc(100vh - 64px); 
    display: flex;
    align-items: center;
    justify-content: center;

    main
    {
        width: 100%;
        padding: 40px;
        background: $backgroundColor;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 500ms;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        form
        {
            max-width: 500px;
            min-width: 500px;
        }

        section
        {
            margin-right: 40px;

            h2
            {
                margin-bottom: 20px;
            }

            p, ol
            {
                font-size: 18px;
                margin-bottom: 20px;
            }

            ol{padding-left: 18px}

            img
            {
                width: 320px;
            }
        }
    }
}