// Variables
$colorPrimary: #0091EA;
$colorPrimaryDark: #0087D0;
$backgroundColor: #F0F0F5;

$fontSizeInput: 18px;
$inputBorder: 1px #dcdce6 solid;
$inputPadding: 0 12px !important;
$inputBorderRadius: 8px;
$inputBackgroundColor: #FFF;
$inputFontFamily: 'Exo 2', sans-serif;