@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&display=swap');
@import "./variables";
@import "./sass/animations";

*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: 'Exo 2', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body
{
    background: $backgroundColor;
}

input, button, textarea, select, .mui-datepicker-custom
{
    font-family: $inputFontFamily;
    font-size: $fontSizeInput;

    &:not(button)
    {
        background: $inputBackgroundColor;
    }

    &:disabled
    {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

button, input[type=submit], select
{
    cursor: pointer;
}

a
{
    text-decoration: none !important;
}

h3
{
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 1.17em;

    svg
    {
        color: rgba(51, 51, 51, 0.5);
        margin-left: 4px;
        transition: color 500ms;
        cursor: pointer;

        &:hover
        {
            color: rgba(51, 51, 51, 1);
        }
    }
}

a.link-to
{
    display: inline-flex;
    align-items: center;
    margin-top: 40px;
    color:#41414d;
    font-weight: 600;
    text-decoration: underline transparent;
    font-size: 18px;
    transition: all ease-in-out 500ms;

    svg
    {
        color: $colorPrimary;
        margin-right: 8px;
        font-size: 16px;
    }

    &:hover
    {
        opacity: 0.8;
        text-decoration: underline;
    }
}

form
{
    input, select
    {
        width: 100%;
        min-width: 120px;
        height: 60px !important;
        color: #333;
        border: $inputBorder;
        border-radius: $inputBorderRadius;
        padding: $inputPadding;
        padding-right: 6px !important;
    }

    .input-error
    {
        box-shadow: 0px 0px 3px 0px rgba(255, 0, 0, 1);
        border: none;
        -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 100ms both;
        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 100ms both;
    }

    div.input-group
    {
        display: flex;

        *:not(:first-child)
        {
            margin-left: 8px !important;
        }
    }
}

main
{
    padding: 40px 0 20px 0;
}

.button
{
    width: 100%;
    height: 60px;
    background: $colorPrimary;
    border-radius: 8px;
    border: 1px $colorPrimaryDark solid;
    font-weight: bold;
    margin-top: 16px;
    color: #FFF;
    transition: background-color 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    padding: 0 16px;

    &:hover, &:focus
    {
        color: #FFF;
        background: $colorPrimaryDark;
    }
}

.button-cancel
{
    @extend .button;
    background: rgba(51, 51, 51, 0.3);
    border: 1px rgba(51, 51, 51, 0.2) solid;

    &:hover, &:focus
    {
        color: #FFF;
        background: rgba(51, 51, 51, 0.4);
    }

    &.disabled
    {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

h1
{
    font-size: 30px;

    span.part-01
    {
        font-weight: 400;
        &::after{content: " ";}
    }

    span.part-02
    {
        font-weight: 600;
    }

    &.logo
    {
        font-size: 48px;
        text-transform: uppercase;
        
        span.part-01
        {
            color: #0091EA;
            font-weight: 700;
        }

        span.part-02
        {
            font-weight: 400;
        }
    }
}

fieldset
{
    border: 2px #D8D8D8 solid;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 24px;

    input, select, .button, .mui-datepicker-custom
    {
        margin: 0 !important;

        &:not(:first-child)
        {
            margin-left: 8px !important;
        }
    }

    legend
    {
        font-size: 18px;
        font-weight: 600;
    }

    form
    {
        display: flex;
    }
}

div.span-group
{
    display: inline-flex;
    flex-direction: column;

    &:not(:first-of-type)
    {
        margin-left: 30px;
    }

    span:nth-child(2)
    {
        color: rgba(51, 51, 51, 0.8);
        font-weight: 600;
    }

    span:nth-child(1)
    {
        color: #333;
        font-size: 18px;
        font-weight: 600;
    }
}