@import "../../variables";

.mui-datepicker-custom
{
    height: 60px !important;
    border: $inputBorder !important;
    border-radius: $inputBorderRadius;
    padding: 0 !important;
    background-color: #E6E6E6 !important;

    &.mdc-disabled
    {
        opacity: 0.3;
        background-color: #FFF !important;
    }

    .MuiInput-root
    {
        height: 100%;
        input
        {
            padding: $inputPadding;
            background: #FFF;
            height: 100% !important;
            font-size: 18px;
            box-sizing: border-box !important;
            font-family: $inputFontFamily;
            margin: 0;
            border: none !important;
            border-radius: 8px 0px 0px 8px;
            border-right: $inputBorder;

            &:disabled
            {
                background: rgba(216, 216, 216, 0) !important;
            }
        }

        .MuiInputAdornment-positionEnd
        {
            margin: 0;
        }
    }
}